.root{
    /*-fx-background-color: pink;*/
}
.tab-pane{
    -fx-alignment: CENTER;
    -fx-min-width: 1280;
    -fx-min-height: 720;
}
.vbox{
    /*-fx-alignment: CENTER;*/
    /*-fx-background-color: orange;*/
    /*-fx-min-width: 1280;*/
    /*-fx-min-height: 720;*/
    /*-fx-padding: 10 0 0 10;*/
}